# ==========================
# Build Output
# ==========================
/dist
/build
/node_modules

# ==========================
# Uploads
# ==========================
uploads/
**/uploads/

# ==========================
# Logs
# ==========================
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ==========================
# Coverage
# ==========================
/coverage
/.nyc_output

# ==========================
# Environment Files
# ==========================
.env
.env.development
.env.production
.env.test

.env.local
.env.development.local
.env.production.local
.env.test.local

# ==========================
# Runtime
# ==========================
.temp
.tmp

pids
*.pid
*.seed
*.pid.lock

report.*.*.*.*.json

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDEs
# ==========================
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# ==========================
# VS Code
# ==========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json